{% extends 'base.html.twig' %}

{% block body %}
<h1>Commande Deleted</h1>

<p>The following commande has been deleted:</p>
<p><strong>Commande ID:</strong> {{ commande.id }}</p>
<p><strong>Client Name:</strong> {{ commande.nomClient }}</p>

{% endblock %}
